@page
@model Mission_9_Gandola.Pages.post_purchaseModel
@{
}
<div class="text-center">
    <h2>Thanks! Come again soon</h2>
    <a class="btn btn-primary" asp-controller="Home"> Keep Shopping</a>
</div>